/* General style */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app-container {
  margin: 0;
  padding: 0;
}

/* Error field */
#display-error-field {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border: 1px dashed red;
  display: none;
}

/* Header */
#header {
  width: 100%;
  height: 10vh;
  text-align: center;
  background-color: #882900;
  color: #fff;
  position: relative;
  display: flex;
  border-bottom: 2px solid rgb(121, 38, 3);
}

#header h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 200;
  font-size: 1.5em;
}

/* Map style */
#map {
  height: 100%;
  width: 100%;
}

/* Main */
.main-map {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

/* Map container */
.map-container {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #343434;
}

/* Filter locations menu */
#list-aside {
  margin: 0;
  padding: 0;
  line-height: 1.7;
  list-style-type: none;
}

#list-aside li {
  color: #f2f2f2;
  padding: 1em;
  border-bottom: 1px solid lightblue;
  cursor: pointer;
  max-width: 100%;
}

li:active, li:focus {
  border: 1px solid lightblue;
  border-radius: 5%;
}

.btn {
  padding: 1em;
  border: 1px solid lightblue;
  cursor: pointer;
} 

.hamburger-button {
  background-color: #ad381b;
  position: absolute;
  align-self: flex-start;
  z-index: 1000;
  padding: 0.8em;
  cursor: pointer;
  top: calc(100% - 80%);
  left: 10px;
  border-radius: 15%;
  color: #fff;
}

.hamburger-show {
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 30%;
  min-width: 250px;
  background: #16222A;  /* Credit: https://uigradients.com/#Mirage */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);  
  background: linear-gradient(to right, #3A6073, #16222A);  
  transition: all 800ms ease-in-out;
}

.hamburger-hide {
  width: 0px;
  min-width: 0;
  transition: all 800ms ease-in-out;
  background: #16222A;  /* Credit: https://uigradients.com/#Mirage */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);  
  background: linear-gradient(to right, #3A6073, #16222A);  
}

/* Map objects style */
#info-window {
  text-align: center;
}

/* Media queries */
@media screen and ( max-width: 360px ) {
  #header h1 {
    font-size: 16px;
  }
  .hamburger-show {
    min-width: 200px;
  }
  .hamburger-button {
    padding: 0.5em;
  }
}